<!doctype html>
<html>
  <head>
    <title>Upload or download image</title>
  </head>
  <body>
    <h1>Upload or download image</h1>
    <form action="/" method="post">

      <h2>Choose a mode:</h2>
      <label>
        <input type="radio" name="mode" value="upload" checked>
        Import an image
      </label>
      <br>
      <label>
        <input type="radio" name="mode" value="download">
        Download from URL
      </label>
      <br>
      <br>
      <input type="submit" value="Next">
    </form>
  </body>
</html>
